.language-selector {
  @include font('sans');
  position: relative;
  width: em(68);
  &__selected {
    cursor: pointer;
    position: relative;
    color: c('grey-languages');
    font-size: em(13);
    padding-left: em(15, 13);
    letter-spacing: em(1, 13);
    &:after {
      content: '';
      background-image: url(../img/flecha-idioma.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em(9, 13);
      width: em(9, 13);
      height: em(5, 13);
      position: absolute;
      right: em(20, 13);
      top: em(5, 13);
      color: c('grey-languages');
      transition: 200ms ease all;
    }
  }
  &__languages {
    list-style: none;
    position: absolute;
    background-color: c('black');
    top: em(17.5);
    width: 100%;
    padding: em(3) 0;
    transform: translate3d(0, em(-5), 0);
    visibility: hidden;
    opacity: 0;
    transition: 200ms ease all;
    &:before {
      content: '';
      position: absolute;
      top: em(-5);
      right: em(19.5);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 em(5) em(5) em(5);
      border-color: transparent transparent c('black') transparent;
    }
  }
  &__language {}
  &__link {
    display: block;
    cursor: pointer;
    color: c('white');
    font-size: em(13);
    letter-spacing: em(1, 13);
    padding: em(3, 13) em(15, 13);
    line-height: 1;
    background-color: c('black');
    transition: 200ms ease all;
    &:hover {
      background-color: c('grey-text');
      transition: 200ms ease all;
    }
  }
  &.is-selected {
    .language-selector__selected:after {
      transform: rotate(180deg);
      transition: 200ms ease all;
    }
    .language-selector__languages {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: 200ms ease all;
    }
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
