.swiper-slide--fill {
  width: 37.5%;
}
@include large {
  .swiper-slide--fill {
    width: 62.5%;
  }
}
a.cta {
  @include font('sans', 'bold');
  color: c('orange');
  font-size: em(15);
  margin-top: em(20, 15);
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    width: em(16, 15);
    height: em(16, 15);
    display: inline-block;
    background-image: url(../img/flecha-naranja.svg);
    background-repeat: no-repeat;
    background-size: em(16, 15);
    margin-left: em(15, 15);
    position: relative;
    top: em(3);
    transform: rotate(-90deg) translateY(0);
    transition: 200ms ease transform;
  }
  &:hover:after {
    transform: rotate(-90deg) translateY(em(10, 15));
    transition: 200ms ease transform;
  }
  &--reversed {
    font-size: em(12);
    margin-top: em(20, 12);
    &:after {
      display: none;
    }
    &:before {
      content: '';
      width: em(16, 12);
      height: em(16, 12);
      display: inline-block;
      background-image: url(../img/flecha-naranja.svg);
      background-repeat: no-repeat;
      background-size: em(16, 12);
      margin-left: em(10, 12);
      margin-right: em(10, 12);
      position: relative;
      top: em(10);
      transform: translateY(0);
      transition: 200ms ease transform;
    }
  }
}

.item-cover {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: c('white');
  &--grey {
    background-color: c('grey-grid');
    z-index: 2;
  }
}

[lang="fr"] .benefits {
    grid-template-rows: repeat(30,em(375/8));
}
[lang="fr"] .benefits__disclaimer {
  grid-row: 28 / span 3;
}
@include large {
  [lang="fr"] .benefits {
    grid-template-rows: repeat(7, em($heightDesktop));
  }
  [lang="fr"] .benefits__disclaimer {
    align-self: end;
  }
}
