//Config local
@import 'config/normalize';
@import 'config/fonts';
@import 'config/variables';
@import 'config/helpers';
@import 'config/breakpoints';
// Hamburger menu config
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: em(26);
$hamburger-layer-height: em(3);
$hamburger-layer-spacing: em(5);
$hamburger-layer-border-radius: 0;

$hamburger-types: (squeeze);

@import 'modules/hamburgers/hamburgers';

//Modules
@import 'modules/base/small';
@import 'modules/typography/small';
@import 'modules/rollover/small';

@import 'modules/grid/small';

@import 'modules/featured/small';
@import 'modules/our-mission/small';
@import 'modules/our-values/small';
@import 'modules/header/small';
@import 'modules/menu/small';
@import 'modules/our-history/small';
@import 'modules/timeline/small';
@import 'modules/our-location/small';
@import 'modules/why-affinity/small';
@import 'modules/benefits/small';
@import 'modules/testimonials/small';
@import 'modules/hiring-steps/small';
@import 'modules/video-button/small';
@import 'modules/language-selector/small';
@import 'modules/lightbox/small';
@import 'modules/cover/small';
@import 'modules/findjob/small';
@import 'modules/internships/small';
@import 'modules/cases/small';
@import 'modules/footer/small';
@import 'modules/loader/small';
@import 'modules/legal/small';
@import 'modules/openings/small';
@import 'modules/filters/small';
@import 'modules/offer/small';
@import 'modules/cookies/small';

//Overrides and helper classes
@import 'modules/utilities/small';

//Animation
@import 'modules/animation/small';

//Fixes
@import 'modules/fixes/explorer';
@import 'modules/fixes/edge';

//Try not to use it
@import '_hacks';
