$rows: 2;

.openings-grid {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    grid-row: 2 / span 1;
    // top: 0;
    align-self: center;
    font-size: em(40);
  }
  &__filters {
    display: none;
    &:before {
    }
    &:after {
    }
  }
  .grey-1 {
    display: none;
  }
}
.openings {
  padding: 0 em($heightDesktop);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: em(120);
  &__list {
    width: em(720);
  }
  &__filters {
    flex-grow: 1;
    display: block;
    width: 25%;
    padding-left: 5.3%;
    max-width: calc(100% - #{em(720)});
  }
  &__empty {
    padding-left: 0;
    margin-top: em(80);

    &.is-visible {

    }
  }

}
.opening {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: em($heightDesktop);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-left: 0 solid c('orange-alt');
  padding-left: 0;
  transition: 200ms ease all;

  &:after {
    top: em(75);
    right: em(15);
    transition: 200ms ease all;
  }
  &:hover {
    border-left-width: em(10);
    padding-left: em(10);
    transition: 200ms ease all;
    &:after {
      right: em(5);
      transition: 200ms ease all;
    }

  }
  &__title {
    display: block;
    font-size: em(25);
    max-width: em(320, 25);
    margin-bottom: em(20, 25);
  }
  &__data {
    justify-content: flex-start;
    margin-bottom: em(10);
  }
  &__info {
    margin-right: em(35);
    strong {}
  }
}
.openings-popup {
  display: none;

  &.is-visible {
  }
  &__header {
    &:before {
    }
  }
  &__close {
  }
  &__body {
  }
  &__footer {
  }
  &__button {
  }
}
.grid-openings-footer{
  grid-template-rows: repeat(2, em($heightDesktop));
}
.openings-footer {
  margin-top: 0 !important;
}
