$rows: 3;

.openings-grid {
  grid-template-rows: repeat($rows, $height);
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 6;
    align-self: end;
    position: relative;
    top: em(7, 24);
    span {
      display: block;
      width: 100%;
      border-bottom: 2px solid #c6c6c6;
    }
  }
  &__filters {
    grid-row: 3 / span 1;
    grid-column: 2 / span 6;
    position: relative;
    cursor: pointer;
    background-color: c('orange-alt');
    color: c('white');
    border-radius: em(100, 15);
    position: relative;
    text-decoration: none;
    outline: none;
    border: none;
    appearance: none;
    @include font('sans');
    font-size: em(15);
    text-align: left;
    padding-left: em(55, 15);
    &:before {
      content: '';
      background-image: url(../img/filters.svg);
      width: em(40, 15);
      height: em(40, 15);
      @include bgi;
      background-size: em(17, 15);
      position: absolute;
      @include yCenter;
      left: em(10, 15);
    }
    &:after {
      content: '';
      background-image: url(../img/arrow-triangle.svg);
      width: em(40, 15);
      height: em(40, 15);
      @include bgi;
      background-size: em(9, 15);
      position: absolute;
      @include yCenter;
      right: em(7.5, 15);
    }
  }
  .grey-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}
.openings {
  &__filters {
    display: none;
  }
  &__empty {
    @include font('sans', 'bold');
    font-size: em(14);
    line-height: em(20.5, 14);
    color: c('grey');
    padding: 0 em(46.8751, 14);
    margin-top: em(70, 14);
    display: none;
    &.is-visible {
      display: block;
    }
  }

}
.opening {
  padding: em(47.5) em(87.5) em(42.5) $height;
  text-decoration: none;
  letter-spacing: em(-0.2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: em(1) solid c('grey-alt');
  position: relative;
  &:after {
    content: '';
    background-image: url(../img/flecha-gris.svg);
    width: em(40);
    height: em(40);
    @include bgi;
    background-size: em(16);
    position: absolute;
    top: em(50);
    right: em(30);
    transform:rotate(270deg);
  }
  &__title {
    @include font('serif');
    font-size: em(18);
    color: c('orange');
    margin-bottom: em(15, 18);
    width: 100%;
  }
  &__data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info {
    @include font('sans');
    font-size: em(14);
    color: c('grey');
    line-height: 1.4;
    strong {
      color: c('grey-icons-alt');
      letter-spacing: em(0.2, 14);
    }
  }
}
.openings-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: c('white');
  z-index: 20;

  visibility: hidden;
  opacity: 0;
  transition:200ms ease all;
  &.is-visible {
    visibility: visible;
    opacity: 1;
    transition:200ms ease all;
  }
  &__header {
    position: relative;
    cursor: pointer;
    background-color: c('orange-alt');
    color: c('white');
    position: relative;
    text-decoration: none;
    outline: none;
    border: none;
    appearance: none;
    @include font('sans');
    font-size: em(15);
    text-align: left;
    padding-left: em(50, 15);
    height: em(47.5);
    line-height: 3.15;
    &:before {
      content: '';
      background-image: url(../img/filters.svg);
      width: em(40, 15);
      height: em(40, 15);
      @include bgi;
      background-size: em(17, 15);
      position: absolute;
      @include yCenter;
      left: em(2.5, 15);
    }
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: em(47.5);
    line-height: 1;
    width: em(47.5, 47.5);
    text-align: center;
  }
  &__body {
    width: 100%;
    position: relative;
    top: 0;
    bottom: em(115);
    padding: 0 em(62.5);
    padding-top: 0;
    padding-bottom: em(57.5);
    overflow: auto;
  }
  &__footer {
    height: em(95);
    padding: 0 em(45);
    position: relative;
    bottom: 0;
    width: 100%;
  }
  &__button {
    position: relative;
    cursor: pointer;
    background-color: c('orange-alt');
    color: c('white');
    border-radius: em(100, 15);
    position: relative;
    text-decoration: none;
    outline: none;
    border: none;
    appearance: none;
    @include font('sans');
    font-size: em(15);
    height: em(47.5, 15);
    width: 100%;
    max-width: em(300, 15);
    @include xCenter;
  }
}
.grid-openings-footer{
  grid-template-rows: repeat(4, $height);
}
.openings-footer {
  margin-top: em(50);
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
