$rows: 7;

.benefits {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__list {
    grid-row: 1 / span 6;
    grid-column: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, em($heightDesktop));
  }
  &__disclaimer {
    grid-row: 7 / span 1;
    grid-column: 5 / span 2;
    align-self: center;
    margin-top: em(40, 14);
    &:before {}
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-2 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }
  .grey-3 {
    grid-row: 7 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-4 {
    display: none;
  }
  .grey-5 {
    display: none;
  }
  .grey-6 {
    display: none;
  }
  .grey-7 {
    display: none;
  }
  .grey-8 {
    display: none;
  }
}
.benefit {
  padding: 0;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  &__icon {
    display: block;
    width: 1/2 * 100%;
    position: relative;
    margin-bottom: em(35);
    padding: em(35);
  }
  &__title {
    &:before {
    }
    &:after {
    }
  }
  &__text {
    padding-right: em(70);
    p {
    }
  }
  &:nth-child(even) {
    text-align: left;
    padding: 0;
    .benefit__icon {
    }
    .benefit__title {
      &:before {
        display: block;
      }
      &:after {
        display: none;
      }
    }
  }
  &--2 {
    grid-row: 1 / span 2;
    grid-column: 4 / span 2;
  }
  &--3 {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
  }
  &--4 {
    grid-row: 3 / span 2;
    grid-column: 5 / span 2;
  }
  &--5 {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2;
  }
  &--6 {
    grid-row: 5 / span 2;
    grid-column: 4 / span 2;
  }
  &--7 {
    grid-row: 5 / span 2;
    grid-column: 6 / span 2;
  }
}
