$rows: 26;

.benefits {
  grid-template-rows: repeat($rows, em($height));
  &__list {
    grid-row: 1 / span 26;
    grid-column: 2 / span 6;
  }
  &__disclaimer {
    grid-row: 23 / span 3;
    grid-column: 2 / span 6;

    @include font('sans');
    font-size: em(14);
    line-height: em(20.5, 14);
    color: c('grey');
    font-style: italic;
    margin-top: em(10, 14);
    &:before {
      content: '*';
      color: c('orange');
    }
  }

  .grey-1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }
  .grey-2 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
  }
  .grey-3 {
    grid-row: 10 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-4 {
    grid-row: 11 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-5 {
    grid-row: 14 / span 2;
    grid-column: 8 / span 1;
  }
  .grey-6 {
    grid-row: 15 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-7 {
    grid-row: 17 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-8 {
    grid-row: 26 / span 1;
    grid-column: 1 / span 1;
  }
}
.benefit {
  position: relative;
  padding-left: 2/6 * 100%;
  margin-bottom: em(45);
  &__icon {
    width: 1/6 * 100%;
    position: absolute;
    left: 0;
    border: em(1) solid c('grey-light');
  }
  &__title {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: em(10, 14);
      height: em(10, 14);
      left: em(-22, 14);
      top: em(3, 14);
      background-color: c('orange');
    }
    &:after {
      content: '';
      position: absolute;
      width: em(10, 14);
      height: em(10, 14);
      right: em(-22, 14);
      top: em(3, 14);
      background-color: c('orange');
      display: none;
    }
  }
  &__text {
    p {
    }
  }
  &:nth-child(even) {
    text-align: right;
    padding-left: 0;
    padding-right: 2/6 * 100%;
    .benefit__icon {
      left: auto;
      right: 0;
    }
    .benefit__title {
      &:before {
        display: none;
      }
      &:after {
        display: block;
      }
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
