@include explorer {
  .featured__title {
    background: none;
    color: c('black');
    transition: 200ms ease color;
  }
  .featured:hover .featured__title {
    color: c('orange');
    transition: 200ms ease color;
  }
  .featured:hover .featured__text:before {
    height: 100%;
  }
  .value:before {
    font-size: 7rem;
  }
  .testimonial__name:before {
    font-size: 5.37rem;
  }
  .timeline__image {
    opacity: 0.4;
    transition: 200ms ease opacity;
  }
  .swiper-slide-active .timeline__image,
  .swiper-slide .timeline__image:hover {
    opacity: 1;
    transition: 200ms ease opacity;
  }
  .our-location__image {
    opacity: 1;
    transition: 200ms ease opacity;
  }
  .is-gray.our-location__image {
    // opacity: 0.4;
    // transition: 200ms ease opacity;
  }
  .our-location__box {
    opacity: 1;
    transition: 200ms ease opacity;
  }
  .is-gray.our-location__box {
    // opacity: 0.4;
    // transition: 200ms ease opacity;
  }
  .grid-find-your-job .btn-roll-bottom {
    padding-top: 45%;
  }
  .is-up.header {
    // transform: translate3d(0, -110%, 0);
  }
  .loader .grid-loader__col {
    &:nth-child(1) {
      grid-column: 1 / span 1;
    }
    &:nth-child(2) {
      grid-column: 2 / span 1;
    }
    &:nth-child(3) {
      grid-column: 3 / span 1;
    }
    &:nth-child(4) {
      grid-column: 4 / span 1;
    }
    &:nth-child(5) {
      grid-column: 5 / span 1;
    }
    &:nth-child(6) {
      grid-column: 6 / span 1;
    }
    &:nth-child(7) {
      grid-column: 7 / span 1;
    }
    &:nth-child(8) {
      grid-column: 8 / span 1;
    }
  }
  #page .scroll-content .header-wrapper {
    transform: none !important;
  }
  .header__externals {
    height: em(18);
    position: relative;
    top: em(15);
  }
}
