.filters {
  margin-top: em(67.5);
  margin-bottom: em(115);
  &__title {
    font-size: em(32);
    padding-left: em(30, 32);
    margin-bottom: em(20, 32);
  }
}
.filter {
  &__checkbox {
  }
  &__input {
  }
  &__label {
    &:after {
    }
  }
  &__input:checked + .filter__label {
    &:after {
    }
  }
  &__text {
    cursor: pointer;
  }
}
