.filters {
  margin-top: em(40);

  &__title {
    font-size: em(18);
    margin-bottom: em(15, 18);
  }
}
.filter {
  margin-bottom: em(10);
  position: relative;
  &__checkbox {
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: em(15);
    position: absolute;
    top: em(1);
    left: 0;
  }
  &__input {
    position: absolute;
    appearance:none;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: em(1);
    height: em(1);
    z-index: -1;
  }
  &__label {
    position: relative;
    z-index: 1;
    width: em(15);
    height: em(15);
    background-color: #d4d4d4;
    display: inline-block;
    cursor: pointer;
    transition: 200ms ease background-color;
    &:after {
      content: '';
      position: absolute;
      width: em(9);
      height: em(9);
      @include fullCenter;
      border-radius: 50%;
      background-color: transparent;
      transition: 200ms ease background-color;
    }
  }
  &__input:checked + .filter__label {
    background-color: c('grey-light');
    transition: 200ms ease background-color;
    &:after {
      background-color: c('orange-alt');
      transition: 200ms ease background-color;
    }
  }
  &__text {
    padding-left: em(32.5);
    vertical-align: top;
    display: inline-block;
    @include font('sans', 'bold');
    font-size: em(14);
    color: c('grey-icons-alt');
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
