// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light (Book)
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
@charset "UTF-8";

$fonts: (
  'serif': "'Droid-Serif', serif",
  'sans': "'Droid-Sans', sans-serif",
);

//Mixins de Google Fonts basadas en array $fonts.
//Ex: @include font('raleway','bold');
@mixin font($fontkey, $type: 'regular') {
  @if map-has-key($fonts, $fontkey) {
    $font: map-get($fonts, $fontkey);

    font-family: #{$font};

    @if $type == heavy {
      font-weight: 900;
    } @else if $type == bold {
      font-weight: 700;
    } @else if $type == medium {
      font-weight: 500;
    } @else if $type == light {
      font-weight: 300;
    } @else {
      font-weight: 400;
    }
  } @else {
    @warn "Unknown `#{$fontkey}` in $fonts.";
  }
}

//PT Serif
@font-face {
  font-family: 'Droid-Sans';
  src: url('../fonts/droidsans/droidsans.eot');
  src: url('../fonts/droidsans/droidsans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans/droidsans.woff2') format('woff2'), url('../fonts/droidsans/droidsans.woff') format('woff'),
    url('../fonts/droidsans/droidsans.ttf') format('truetype'),
    url('../fonts/droidsans/droidsans.svg#droidsans') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Montserrat
@font-face {
  font-family: 'Droid-Sans';
  src: url('../fonts/droidsans/droidsans-bold.eot');
  src: url('../fonts/droidsans/droidsans-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidsans/droidsans-bold.woff2') format('woff2'),
    url('../fonts/droidsans/droidsans-bold.woff') format('woff'),
    url('../fonts/droidsans/droidsans-bold.ttf') format('truetype'),
    url('../fonts/droidsans/droidsans-bold.svg#droidsans-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid-Serif';
  src: url('../fonts/droidserif/droidserif.eot');
  src: url('../fonts/droidserif/droidserif.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif/droidserif.woff2') format('woff2'),
    url('../fonts/droidserif/droidserif.woff') format('woff'),
    url('../fonts/droidserif/droidserif.ttf') format('truetype'),
    url('../fonts/droidserif/droidserif.svg#droidserif') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid-Serif';
  src: url('../fonts/droidserif/droidserif-bold.eot');
  src: url('../fonts/droidserif/droidserif-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif/droidserif-bold.woff2') format('woff2'),
    url('../fonts/droidserif/droidserif-bold.woff') format('woff'),
    url('../fonts/droidserif/droidserif-bold.ttf') format('truetype'),
    url('../fonts/droidserif/droidserif-bold.svg#droidserif-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Droid-Serif';
  src: url('../fonts/droidserif/droidserif-italic.eot');
  src: url('../fonts/droidserif/droidserif-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif/droidserif-italic.woff2') format('woff2'),
    url('../fonts/droidserif/droidserif-italic.woff') format('woff'),
    url('../fonts/droidserif/droidserif-italic.ttf') format('truetype'),
    url('../fonts/droidserif/droidserif-italic.svg#droidserif-italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Droid-Serif';
  src: url('../fonts/droidserif/droidserif-bolditalic.eot');
  src: url('../fonts/droidserif/droidserif-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/droidserif/droidserif-bolditalic.woff2') format('woff2'),
    url('../fonts/droidserif/droidserif-bolditalic.woff') format('woff'),
    url('../fonts/droidserif/droidserif-bolditalic.ttf') format('truetype'),
    url('../fonts/droidserif/droidserif-bolditalic.svg#droidserif-bolditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
