//Centrado vertical: solo cuando el elemento tiene un height definido
@mixin verticalCenter {
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
//Centrado horizontal: solo cuando el elemento tiene un width definido
@mixin horizontalCenter {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
//Centrado total
@mixin fullCenter {
	@include verticalCenter;
	@include horizontalCenter;
}
//PX to em
@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}
//Getter de array de colors. Ex: color: c("corporate");
@function color($key)
{
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
//Aspect-ratio
@mixin aspect-ratio($a,$b) {
	$c: ($b/($a/100))*1%;
	&:after {
		padding-top: $c;
		display: block;
		content: '';
		position: static;
	}
}
@mixin background-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
@mixin hidden {
	opacity: 0;
	visibility: hidden;
}
@mixin visible {
	opacity: 1;
	visibility: visible;
}

//Wrappers
@mixin bgi {
	@include background-image;
}
@mixin xCenter {
	@include horizontalCenter;
}

@mixin yCenter {
	@include verticalCenter;
}
@function c($color)
{
	@return color($color);
}
.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
