// #15171b => cambiar a 'black'
// #4f4f4f => cambiar a 'grey-icons'
// #353535 => cambiar a 'grey-text'
// #bdbdbd => cambiar a 'grey'
// #c9c9c9 => cambiar a 'grey-alt'
// #cacaca => cambiar a 'grey-alt'
// #f8f8f8 => cambiar a 'grey-grid'
// #d1d1d1 => cambiar a 'grey-light'
// #dbdbdb => cambiar a 'grey-light'
// #9b9b9b => cambiar a 'grey-languages'

$colors: (
  'orange': #ff5943,
  'orange-alt':#ff6344,
  'white': #ffffff,
  'black': #1a1a1a,
  'true-black': #000000,
  'grey-text': #3a3a3a,
  'grey-icons': #4c4c4c,
  'grey-icons-alt': #505050,
  'grey': #b4b4b4,
  'grey-alt': #c6c6c6,
  'grey-grid': #f2f2f2,
  'grey-bar': #f8f8f8,
  'grey-light': #e7e7e7,
  'grey-languages': #9a9a9a,
  // trampiñas
    '#15171b': #1a1a1a,
  '#4f4f4f': #4c4c4c,
  '#353535': #3a3a3a,
  '#bdbdbd': #b4b4b4,
  '#c9c9c9': #c6c6c6,
  '#cacaca': #c6c6c6,
  '#f8f8f8': #f2f2f2,
  '#d1d1d1': #e7e7e7,
  '#dbdbdb': #e7e7e7,
  '#9b9b9b': #9a9a9a
);
$browser-context: 16;
$maxWidth: 680px;
$headerMobile: 94;
$headerDesktop: 104;
$height: 375/8;
$heightDesktop: 1265/8; //1280 menos scrollbar en chrome (15px)
