* {
}

body,
html {
}

html {
  font-size: (100/1280) * 16 * 1vw;
}

body {
}
main {
}
a {
}
img {
}
#page {
   height: 100vh;
   .scroll-content {
     padding-top: 0;
     position: relative;
   }
}
