* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
}

body,
html {
}

html {
  font-size: (100/375) * 16 * 1vw;
}

body {

}
main {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
#page {
  .scroll-content {
    padding-top: em($headerMobile);
  }
  background-image: url(../img/bg.jpg);
  background-repeat: repeat-y;
  background-size: 100%;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
	// opacity: 0;
  transition: 200ms ease opacity;
	&.is-iphone {
		height: calc(100vh - 69px); //iphone bottom bar
	}
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
