.menu {
  display: none;

  &__header {
  }
  &__nav {
  }
  &__link {
    &:before {
    }
    &:nth-child(1) {
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
    }
  }
  &__footer {
  }
  &__languages {
  }
  &__language {
    &.is-active {
    }
  }
  &__copy {
    a {
    }
  }
  .header__burger {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
      }
    }
  }
  &.is-visible {
  }
}
