$columns: 8;
$rows: 7;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  min-height: 100%;
  background-color: c('black');
  z-index: 10;
  transform: translate3d(0, -100%, 0);
  transition: 200ms ease transform;

  &__header {
    position: relative;
  }
  &__nav {
    position: relative;
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, em(375/8));
    list-style: none;
  }
  &__link {
    position: relative;
    align-self: end;
    top: em(5, 25);
    font-size: em(25);
    letter-spacing: em(0.5, 25);
    @include font('sans', 'bold');
    grid-column: 2 / span 6;
    a{
      color: c('grey-languages');
      padding-left: em(35, 25);
    }
    &:before {
      content: attr(data-number);
      position: absolute;
      display: inline-block;
      font-size: em(11, 25);
      color: c('grey-languages');
      margin-left: em(3, 11);
      bottom: em(4, 11);
      width: em(35, 11);
      z-index: -1;
    }
    &:nth-child(1) {
      grid-row: 1 / span 1;
    }
    &:nth-child(2) {
      grid-row: 3 / span 1;
      top: 0;
      align-self: start;
    }
    &:nth-child(3) {
      grid-row: 4 / span 1;
    }
    &:nth-child(4) {
      grid-row: 6 / span 1;
      top: 0;
      align-self: start;
    }
  }
  &__footer {
    @include font('sans');
    color: c('grey-text');
    text-align: center;
    padding-top: em(24);
  }
  &__languages {
    margin-top: em(5);
    display: none;
  }
  &__language {
    color: inherit;
    text-transform: uppercase;
    font-size: em(14);
    margin: 0 em(10);
    &.is-active {
      font-weight: 700;
    }
  }
  &__copy {
    font-size: em(12);
    margin-top: em(15, 12);
    line-height: em(20, 12);
    a {
      color: inherit;
      font-weight: 700;
    }
  }
  .header__burger {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: c('grey-languages');
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: c('grey-languages');
      }
    }
  }
  &.is-visible {
    transform: translate3d(0, 0, 0);
    transition: 200ms ease transform;
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
