$rows: 4;
.grid-hiring {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    padding-bottom: 1em;
  }
  &__slider {
    grid-row: 2 / span 3;
    grid-column: 1 / span 8;
    width: 100%;
    overflow: hidden;
    padding-left: (1/8) * 100%;
  }
  &__slide {
    /*width: (2/8) * 100%;*/
    width: 28.6%;
    &.swiper-slide--fill {
      width: 71.4%;
    }
  }
  &__arrow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: (1/8) * 100%;
    height: (3/4) * 100%;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
    transition: 200ms ease opacity;
    $size: 30;
    &:before {
      content: '';
      background-image: url(../img/flecha-naranja.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em($size);
      width: em($size);
      height: em($size);
      position: absolute;
      transform: rotate(90deg) translateX(em(-($size/2)));
      top: 33.333%;
      left: em(20);
    }
    &--prev {
    }
    &--next {
      left: auto;
      right: 0;
      &:before {
        left: auto;
        right: em(20);
        transform: rotate(270deg) translateX(em($size/2));
      }
    }
    &:hover {
      opacity: 1;
      transition: 200ms ease opacity;
    }
    &.is-disabled:hover {
      opacity: 0.25;
      transition: 200ms ease opacity;
    }
  }
  .swiper-wrapper{
    margin-left: 0;
  }
}
.hiring {
  $height: ((7/8) * 1265 * 0.286) / 2;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, em($height));
  &__number {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    .number {
      font-size: 172px;
    }
  }
  &__line{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  &__text {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    padding-right: 4em;
    padding-top: 1em;
    &:before {
      margin-top: 1em;
    }
  }
}
