$columns: 8;
$rows: 11;
.grid-hiring {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    align-self: end;
  }
  &__slider {
    grid-row: 3 / span 9;
    grid-column: 1 / span 8;
    max-width: 100%;
    /*overflow: visible;*/
  }
  &__slide {
    width: (6/8) * 100%;
    height: 100%;
    &.swiper-slide--fill {
      width: 25%;
    }
  }
  &__arrow {
    display: none;
  }
  .swiper-wrapper{
    margin-left: 12.5%;
  }
}

.hiring {
  $height: (375 * 0.75) / 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, em($height));
  /*grid-row: 3 / span 9;
  grid-column-end: span 6;*/
  /*grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);*/
  &__number {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    background-color: c('grey');
    position: relative;
    .number {
      @include font('serif', 'bold');
      color: c('white');
      font-size: 154px;
      margin-left: -0.1em;
      z-index: 0;
      position: absolute;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0%;
      bottom: 0;
      left: 0;
      background-color: c('orange');
      transition: height 300ms ease;
    }
  }
  &__line{
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
    position: relative;
    .progress-hiring-line{
      width: 100%;
      height: 1px;
      background-color: c('grey-light');
      position: absolute;
      @include verticalCenter;
      &--orange{
        width: 0%;
        background-color: c('orange');
        transition: width .8s ease;
      }
    }
    .progress-hiring-circle{
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #b4b4b4;
      @include fullCenter;
      transition: background-color .8s ease;
    }
  }
  &__text {
    grid-column: 1 / span 5;
    grid-row: 5 / span 5;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: c('grey');
      left: -20px;
      top: 5px;
      transition: background-color 800ms ease;
    }
    p {
      margin-bottom: 1em;
    }
  }
  /* &--1 {
    grid-column-start: 1;
  }
  &--2 {
    grid-column-start: 7;
  }
  &--3 {
    grid-column-start: 13;
  }*/
  &--6{
    &__line{
      display: none;
    }
  }
}
.swiper-slide-active {
  .hiring__number {
    &:before {
      height: 100%;
      transition: height 300ms ease;
    }
  }
  .hiring__text:before/*, .progress-hiring-circle*/ {
    background-color: c('orange');
  }
  /*.progress-hiring-line--orange{
    width: 100%;
  }*/
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
