.grid-cover {
  grid-template-rows: repeat(5, em($heightDesktop));
  /*height: 100vh;*/
  position: relative;
  z-index: 2;
  &__item-cover {
    &__text {
      grid-column: 2 / span 3;
    }
    &__pretitle {
      grid-row: 2 / span 1;
    }
    &__title {
      grid-row: 3 / span 2;
      grid-column: 2 / span 4;
      h1 {
        margin-top: -0.45em;
        position: relative;
        z-index: 1;
        span {
          display: block;
        }
      }
      &--title-about {
        grid-row-end: span 1;
        grid-column-end: span 5;
      }
      &--title-worklife {
        grid-row-end: span 1;
        grid-column-end: span 5;
      }
      &--title-internships {
        grid-row-end: span 1;
        grid-column-end: span 5;
      }
    }
    &__video {
      grid-row: 4 / span 1;
      align-self: center;
    }
    &__line {
      grid-row: 4 / span 1 !important;
      .decoration-line {
        top: 23.75%;
      }
    }
    &__text-content {
      grid-column: 3 / span 2;
      grid-row: 4 / span 1;
      padding-top: 10%;
    }
    &__image {
      position: relative;
      z-index: -1;
      .inner-image {
        width: 100%;
        height: 100%;
        position: absolute;
        /*@include bgi;
        background-image: url('../img/');
        @include fullCenter;*/
      }
      .inner-image-mask {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background: c('white');
      }
    }
  }
  &__item-cover--grey:first-child {
    grid-row-start: 3;
    grid-column-start: 5;
    grid-row-end: span 1;
  }
  &__item-cover--grey:nth-child(2) {
    grid-row-start: 1;
    grid-column-start: 8;
  }
  &__item-cover--grey:nth-child(3),
  &__item-cover--grey:nth-child(4) {
    display: none;
  }
  &__item-internships {
    &:first-child {
      grid-column: 6 / span 1;
      grid-row: 2 / span 1;
    }
    &:nth-child(2) {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
    &:nth-child(3) {
      grid-column: 5 / span 1;
      grid-row: 3 / span 1;
    }
    &:nth-child(4) {
      grid-column: 2 / span 1;
      grid-row: 5 / span 1;
    }
  }
}
.grid-cover--about {
  grid-template-rows: repeat(6, em($heightDesktop));
  margin-bottom: -11em;
  .grid-cover__item-cover__title {
    grid-column: 2 / span 5;
  }
  .grid-cover__item-cover__video {
    grid-row: 4 / span 1;
  }
  .grid-cover__item-cover__line {
  }
  .grid-cover__item-cover__text-content {
    grid-row-start: 4;
  }
}
.grid-cover--worklife {
  grid-template-rows: repeat(6, em($heightDesktop));
  .grid-cover__item-cover__title {
    grid-column: 2 / span 5;
    br {
      display: block;
    }
  }

  .grid-cover__item-cover__video {
  }
  .grid-cover__item-cover__line {
  }
  .grid-cover__item-cover__text-content {
    grid-row: 4 / span 2;
  }
}
.grid-cover--internships {
  .grid-cover__item-cover__line {
  }
}
.grid-cover--careers {
  grid-template-rows: repeat(6, $heightDesktop);
  .grid-cover__item-cover__text-content {
    grid-row: 4 / span 2;
  }
  .grid-cover__item-cover--grey:first-child{
    grid-row-start: 1;
    grid-column-start: 7;
  }
  .grid-cover__item-cover--grey:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 8;
  }
  .grid-cover__item-cover--grey:nth-child(3),
  .grid-cover__item-cover--grey:nth-child(4) {
    display: block;
    grid-row-start: 3;
  }
  .grid-cover__item-cover--grey:nth-child(3) {
    grid-column-start: 3;
  }
  .grid-cover__item-cover--grey:nth-child(4) {
    grid-column-start: 5;
  }
  .grid-cover__item-cover--grey:nth-child(5) {
     grid-row-start: 5;
    grid-column-start: 2;
  }
}
.grid-cover--legal {
  grid-template-rows: repeat(3, em($heightDesktop)) !important;
  .grid-cover__item-cover__title {
    grid-column: 2 / span 5;
    h1 {
      font-size: em(63);
    }
  }
  .grid-cover__item-cover--grey:first-child {
    grid-row-start: 1;
    grid-column-start: 7;
  }
  .grid-cover__item-cover--grey:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: 6;
  }
  .grid-cover__item-cover--grey:nth-child(3),
  .grid-cover__item-cover--grey:nth-child(4) {
    display: block;
    grid-row-start: 3;
  }
  .grid-cover__item-cover--grey:nth-child(3) {
    grid-column-start: 3;
  }
  .grid-cover__item-cover--grey:nth-child(4) {
    grid-column-start: 5;
  }
  .grid-cover__item-cover__line {
    top: 40px;
  }
}
.grid-cover--404 {
  .grid-cover__item-cover--grey:first-child {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .grid-cover__item-cover__title {
  }
  .grid-cover__text {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    align-self: end;
  }
  .grid-cover__image {
    grid-column: 4 / span 3;
    grid-row: 2 / span 3;
    img {
    }
  }
}
.grid-cover--careers {
  .grid-cover__item-cover__title {
    grid-column: 2/span 5;
  }
}
.grid-cover--offer {
  grid-template-rows: repeat(3, em($heightDesktop));
  .cta {
    display: none;
  }
  .grid-cover__item-cover__title {
    grid-column: 2 / span 4;
    h1 {
      font-size: em(40);
      margin-top: em(-10, 40);
      letter-spacing: em(-0.6, 40);
    }
  }
  .grid-cover__item-cover__line {
    .decoration-line {
      top: em(30);
    }
  }
  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 2;
  }
  .grey-2 {
    grid-row: 2 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-3 {
    display: block;
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
  }
  .grey-4 {
    display: block;
    grid-row: 3 / span 1;
    grid-column: 5 / span 1;
  }
}
