$columns: 8;
$rows: 8;
$height: em(375/8);
.grid-cover {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  &__item-cover {
    &__text {
      grid-column: 2 / span 6;
      justify-self: start;
    }
    &__pretitle {
      grid-row: 1 / span 1;
      align-self: center;
    }
    &__title {
      grid-row: 2 / span 2;
      align-self: start;
      h1 {
        margin: 0;
        margin-top: -0.15em;
      }
      &--title-about {
        grid-column-end: span 5;
        grid-row-end: span 3;
      }
      &--title-worklife {
        grid-column-end: span 5;
        grid-row-end: span 4;
      }
      &--title-internships {
        grid-column-end: span 5;
        grid-row-end: span 3;
      }
    }
    &__video {
      grid-row: 4 / span 1;
      align-self: end;
      a {
        display: block;
        .play-btn {
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
        .orange {
          display: inline-block;
          text-transform: uppercase;
          font-size: em(12);
          margin-left: 7px;
          position: relative;
          // top: 5px;
          vertical-align: middle;
        }
      }
    }
    &__line {
      position: relative;
      .decoration-line {
        position: absolute;
        width: 90px;
        height: 2px;
        background-color: c('grey-alt');
      }
    }
    &__text-content {
      grid-row: 6 / span 2;
      align-self: start;
    }
    &__image {
      overflow: hidden;
      &--w2 {
        grid-column-end: span 2;
      }
      &--h2 {
        grid-row-end: span 2;
      }
    }
    &--grey:first-child {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
  }
  &__item-internships {
    &:first-child {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
  }
  .btn-roll-bottom {
    padding-top: 40%;
    transform: translateY(30px);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
    &__label {
      margin: auto;
      &:after {
        content: '';
        display: block;
        background-image: url('../img/flecha-naranja.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 100%;
        width: 10px;
        height: 9px;
        margin: 14px auto 0;
      }
    }
    &.complete-show{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .featured__picture {
    transition: none;
  }
}

.grid-cover--about {
  grid-template-rows: repeat(10, $height);
  .grid-cover__item-cover__video {
    grid-row: 5 / span 1;
  }
  .grid-cover__item-cover__line {
    grid-row-start: 5;
  }
  .grid-cover__item-cover__text-content {
    grid-row-start: 7;
  }
  .grid-cover__item-cover__title--title-about {
    grid-column-end: span 6;
  }
}
.grid-cover--worklife {
  grid-template-rows: repeat(10, $height);
  .grid-cover__item-cover__title {
    grid-column: 2 / span 5;
    br {
      display: none;
    }
  }

  .grid-cover__item-cover__video {
  }
  .grid-cover__item-cover__line {
    grid-row-start: 6;
  }
  .grid-cover__item-cover__text-content {
    grid-row: 7 / span 2;
  }
}
.grid-cover--internships {
  .grid-cover__item-cover__line {
    grid-row-start: 5;
  }
}
.grid-cover--careers {
  grid-template-rows: repeat(9, $height);
  .grid-cover__item-cover__text-content {
    grid-row: 5 / span 4;
  }
}
.grid-cover--legal {
  grid-template-rows: repeat(7, $height);
  .grid-cover__item-cover__title {
    grid-column: 2 / span 6;
  }
}
.grid-cover--404 {
  grid-template-rows: repeat(10, $height);
  .grid-cover__item-cover__title {
    grid-column: 2 / span 6;
  }
  .grid-cover__text {
    grid-column: 2 / span 6;
    grid-row: 4 / span 3;
  }
  .grid-cover__image {
    grid-column: 2 / span 6;
    grid-row: 6 / span 4;
    img {
      width: 100%;
    }
  }
}
.grid-cover--offer {
  grid-template-rows: repeat(6, $height);
  .cta {
    grid-row: 5 / span 1;
    grid-column: 2 / span 4;
    text-transform: uppercase;
  }
  .grid-cover__item-cover__line{
    display: none;
  }
}
.overpanel{
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  bottom: 0;
  &--white{
    background-color: #fff;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
