$columns: 8;
$rows: 10;
.our-history {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 5;
    align-self: end;
    position: relative;
    top: em(7, 24);
  }
  &__slider {
    grid-row: 3 / span 8;
    grid-column: 1 / span 8;
    max-width: 100%;
    overflow: hidden;
  }
  &__slide {
    width: (5/8) * 100%;
    height: 100%;
  }
  &__arrow {
    display: none;
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
  .grey-2 {
    grid-row: 9 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-3 {
    grid-row: 10 / span 1;
    grid-column: 7 / span 1;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
