$columns: 8;
$rows: 4;

.our-values {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    align-self: center;
    margin-bottom: em(25, 32);
    grid-column: 3 / span 2;
  }
  &__values {
    display: none;
  }
  &__value {
    &--desktop {
      display: block;
    }
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
  }
  .grey-2 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
  }
  .grey-3 {
    display: none;
  }
  .grey-4 {
    display: none;
  }
}
.value {
  margin-bottom: 0;
  &--1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
  }
  &--2 {
    grid-row: 2 / span 1;
    grid-column: 5 / span 2;
  }
  &--3 {
    grid-row: 3 / span 1;
    grid-column: 3 / span 2;
  }
  &--4 {
    grid-row: 3 / span 1;
    grid-column: 6 / span 2;
  }
  &:before {
    font-size: em(112);
    top: em(-25, 112);
    left: em(-70, 112);
  }
  &__title {
  }
  &__text {
    max-width: em(240);
    p {
    }
  }
}
