$columns: 8;
$rows: 12;

.our-values {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    align-self: end;
    position: relative;
    top: em(7, 24);
  }
  &__values {
    grid-row: 3 / span 9;
    grid-column: 3 / span 5;
  }
  &__value {
    &--desktop {
      display: none;
    }
  }

  .grey-1 {
    grid-row: 3 / span 2;
    grid-column: 8 / span 1;
  }
  .grey-2 {
    grid-row: 4 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-3 {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-4 {
    grid-row: 12 / span 1;
    grid-column: 3 / span 1;
  }
}
.value {
  position: relative;
  margin-bottom: em(40);
  &:before {
    content: attr(data-value);
    position: absolute;
    @include font('serif', 'bold');
    color: c('grey-light');
    font-size: em(50);
    top: em(-7, 50);
    left: em(-48, 50);
    text-align: center;
  }
  &__title {
  }
  &__text {
    p {
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
