$rows: 6;
.testimonials {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    top: em(20, 32);
    align-self: center;
  }
  &__slider {
    grid-row: 2 / span 4;
    width: 100%;
  }
  &__slide {
    width: (3/8) * 100%;
  }
  &__arrow {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: (1/8) * 100%;
    height: (3/4) * 100%;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
    transition: 200ms ease opacity;
    $size: 30;
    &:before {
      content: '';
      background-image: url(../img/flecha-naranja.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: em($size);
      width: em($size);
      height: em($size);
      position: absolute;
      transform: rotate(90deg) translateX(em(-($size/2)));
      top: 33.333%;
      left: em(20);
    }
    &--next {
      left: auto;
      right: 0;
      &:before {
        left: auto;
        right: em(20);
        transform: rotate(270deg) translateX(em($size/2));
      }
    }
    &:hover {
      opacity: 1;
      transition: 200ms ease opacity;
    }
    &.is-disabled:hover {
      opacity: 0.25;
      transition: 200ms ease opacity;
    }
  }

  .grey-1 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .grey-2 {
    grid-column: 8 / span 1;
    grid-row: 6 / span 1;
  }
  .grey-3 {
    display: none;
  }
}
.testimonial {
  &__right {
    width: 2/3 * 100%;
  }
  &__image {
    @include aspect-ratio(2, 3);
    margin-bottom: em(32.5);
  }
  &__picture {
    img {
    }
  }
  &__info {
  }
  &__title {
    font-size: em(35);
    padding: 0 em(10, 35) 0 em(20, 35);
    line-height: 1.15;
  }
  &__button {
    padding: em(25) em(20) em(30);
  }
  &__name {
    margin-bottom: em(2.5, 14);
    &:before {
      font-size: em(86);
      left: em(-60, 86);
      top: em(5, 86);
    }
  }
  &__position {
  }
  &__text {
    max-width: em(260);
    p {
    }
  }
}
