$columns: 8;
$rows: 12;
.testimonials {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 4;
    align-self: end;
    position: relative;
    top: em(7, 24);
  }
  &__slider {
    grid-row: 3 / span 10;
    grid-column: 1 / span 8;
    max-width: 100%;
    overflow: hidden;
  }
  &__slide {
    width: (5/8) * 100%;
    height: 100%;
  }
  &__arrow {
    display: none;
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }
  .grey-2 {
    grid-row: 1 / span 2;
    grid-column: 8 / span 1;
  }
  .grey-3 {
    grid-row: 5 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-4 {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-5 {
    grid-row: 11 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-6 {
    grid-row: 12 / span 1;
    grid-column: 3 / span 1;
  }
}

.testimonial {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;

  &__right {
    width: 80%;
  }
  &__image {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @include aspect-ratio(4, 5);
    margin-bottom: em(25);

    &:hover {
      .testimonial__picture {
        transform: scale(1.1);
        transition: 200ms ease transform;
      }
      .video-button__icon:before {
        box-shadow: 0 0 0 em(6) transparentize(c('orange'), 0.6);
        transition: 200ms ease box-shadow;
      }
    }
  }
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.0001);
    transition: 200ms ease transform;

    img {
      width: 100%;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__title {
    @include font('sans', 'bold');
    color: c('white');
    font-size: em(18);
    padding: 0 em(17.5);
    line-height: 1.35;
  }
  &__button {
    padding: em(12.5) em(17.5) em(17);
  }
  &__name {
    position: relative;
    margin-bottom: em(5);
    &:before {
      content: '“';
      position: absolute;
      @include font('serif', 'bold');
      font-style: italic;
      font-size: em(55);
      left: em(-40, 55);
      color: c('orange');
      border-radius: 50%;
      line-height: 0.8;
    }
  }
  &__position {
    margin-left: em(10);
    font-weight: 400;
  }
  &__text {
    p {
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
