.offer {
  &__content {
    padding: em(22.5) em($heightDesktop * 2) 0;
    margin-bottom: 0;
    h2 {
      font-size: em(30);
      margin-bottom: em(22.5, 30);
      margin-top: em(95, 30);
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
    }
    p {
      font-size: em(16);
      line-height: 1.6;
    }
    ul {
    }
    ol {
    }
    li {
      font-size: em(16);
      margin-bottom: em(10, 16);
      &:before {
      }
    }
  }
  &__footer {
    padding: 0 em(317);
    text-align: left;
    margin-top: em(120);
    margin-bottom: em(160);
  }
  &__title {
    font-size: em(28);
    margin-bottom: em(2.5, 28);
  }
  &__text {
    padding: 0;
    p {
      font-size: em(28);
      line-height: 1.4;
    }
  }
  &__apply {
    margin-top: em(70);
    padding: em(32.5) em(140) em(30);
    &:hover {
    }
  }
}
