.offer {
  &__content {
    padding: 0 $height;
    @include font('sans');
    font-size: em(14);
    color: c('grey-languages');
    line-height: 1.8;
    margin-bottom: em(40);
    h2 {
      @include font('sans', 'bold');
      color: c('grey-icons-alt');
      font-size: em(20);
      margin-bottom: em(30, 20);
      margin-top: em(75, 20);
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      @include font('sans', 'bold');
      color: c('grey-languages');
      font-size: em(16);
      margin-bottom: em(32.5, 16);
    }
    p {
      @include font('sans');
      font-size: em(14);
      color: c('grey-languages');
      line-height: 1.8;
      margin-bottom: em(25, 14);
    }
    ul {
      list-style: none;
      margin-left: em(25);
      margin-bottom: em(85);
    }
    ol {
      margin-left: em(25);
    }
    li {
      position: relative;
      @include font('sans');
      font-size: em(14);
      color: c('grey-languages');
      margin-bottom: em(12.5, 14);
      padding-left: em(25, 14);
      line-height: 1.65;
      &:before {
        content: '';
        display: inline-block;
        width: em(10, 14);
        height: em(10, 14);
        background-color: c('orange-alt');
        border-radius: 50%;
        position: absolute;
        top: em(6, 14);
        left: 0;
      }
    }
    img{
      position: relative !important;
      margin: 0 !important;
    }
  }
  &__footer {
    text-align: center;
  }
  &__title {
    @include font('serif', 'bold');
    color: c('black');
    font-size: em(16);
    letter-spacing: em(-0.2, 16);
    margin-bottom: em(7.5, 16);
  }
  &__text {
    padding: 0 em(10);
    p {
      @include font('serif');
      color: c('grey-icons-alt');
      font-size: em(16);
      letter-spacing: em(-0.2, 16);
      line-height: 1.8;
    }
  }
  &__apply {
    display: inline-block;
    background-color: c('orange');
    color: c('white');
    @include font('sans', 'bold');
    font-size: em(15);
    line-height: 1.2;
    padding: em(15, 15) em(75, 15) em(14, 15);
    margin-top: em(28.5, 15);
    transition: 200ms ease all;
    &:hover {
      background-color: c('orange-alt');
      transition: 200ms ease all;
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
