$columns: 8;
$rows: 2;
.header-wrapper {
  min-height: 0;
  &.is-fixed {
    position: absolute;
  }
}
.header {
  height: em($headerDesktop);
  padding: 0;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 50%);
  margin-bottom: 0;
  position: relative;
  &__externals {
    display: block;
    grid-row: 1/span 1;
    grid-column: 6 / span 3;
    text-align: right;
    padding-right: em(90);
    display: none;
  }
  &__external {
    @include font('sans');
    color: c('grey-languages');
    position: relative;
    font-size: em(12);
    padding: 0 em(20, 12);
    letter-spacing: em(1, 12);
    transition: 200ms ease all;
    &:after {
      content: '';
      background-color: c('grey-languages');
      width: em(1, 12);
      height: em(18, 12);
      top: em(-2, 12);
      position: absolute;
      right: 0;
    }
    &:hover {
      color: c('grey-icons');
      transition: 200ms ease all;
    }
  }
  &__link {
    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    z-index: 2;
  }
  &__logo {
    width: em(87);
  }
  &__nav {
    z-index: 1;
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    list-style: none;
    align-self: end;
  }
  &__decorator {
    display: block;
    background-color: c('grey-bar');
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
    height: 100%;
    z-index: -1;
  }
  &__languages {
    display: block;
    grid-column: 8 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    align-self: center;
    display: none;
  }
  &__nav-link {
    width: 25%;
    position: relative;
    @include font('sans');
    font-size: em(13);
    // top: em(5, 13);
    letter-spacing: em(0.5, 13);
    top: em(-1, 11);
    transition: 200ms ease color;
    a{
      color: c('grey-languages');
      display: block;
      padding-left: 30px;
      transition: 200ms ease color;
      &.active {
        font-weight: 700;
        color: c('grey-icons');
        transition: 200ms ease color;
      }
    }
    &:before {
      content: attr(data-number);
      position: absolute;
      display: inline-block;
      font-size: em(11, 13);
      width: em(30, 11);
      color: c('grey-languages');
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      font-weight: bold;
    }
    &:hover a{
      color: c('grey-icons');
      transition: 200ms ease all;
    }
  }
  &__burger {
    display: none;
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
      }
    }
  }
  &.is-fixed {
    position: relative;
    box-shadow: none;
    background: none;
  }
  &.is-up {}
}
