.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 9;
  pointer-events: none;
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: em($headerMobile);
  padding: 0 em(35) 0 em(21);
  margin-bottom: em(21);
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  &__externals {
    display: none;
  }
  &__link {
    display: inline-block;
  }
  &__logo {
    display: inline-block;
    width: em(87);
  }
  &__nav {
    display: none;
  }
  &__decorator {
    display: none;
  }
  &__languages {
    display: none;
  }
  &__burger {
    display: inline-block;
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: c('black');
    }
    &.is-active {
      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: c('black');
      }
    }
  }
  &.is-fixed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: c('white');
    z-index: 9;
    transform: translate3d(0, 0, 0);
    transition: 200ms ease transform;
    box-shadow: 0px 12.5px 35px 0px rgba(0, 0, 0, 0.05);
  }
  &.is-up {
    transform: translate3d(0, calc(-100% - 35px), 0);
    transition: 200ms ease transform;
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
