body.loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: visible;
  .grid-loader {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100vh;
    &__col {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: c('grey-grid');
        transition: height 1s ease;
      }
      &--top {
        &:before {
          top: 0;
        }
      }
      &--bottom {
        &:before {
          bottom: 0;
        }
      }
      &[data-delay='1']:before {
        /*transition-delay: 0.5s*/
      }
      &[data-delay='2']:before {
        transition-delay: 0.1s;
        transition-duration: 0.9s;
      }
      &[data-delay='3']:before {
        transition-delay: 0.2s;
        transition-duration: 0.8s;
      }
      &[data-delay='4']:before {
        transition-delay: 0.4s;
        transition-duration: 0.6s;
      }
      &[data-delay='5']:before {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
      }
      &[data-delay='6']:before {
        transition-delay: 0.7s;
        transition-duration: 0.3s;
      }
    }
  }
  &.loaded {
    visibility: hidden;
  }
  &.loading {
    // visibility: hidden;
    .grid-loader {
      &__col {
        &:before {
          height: 0;
        }
      }
    }
  }
  &.loading--exit {
    .grid-loader {
      &__col {
        &:before {
          height: 0;
        }
        &--top {
          &:before {
            top: auto;
            bottom: 0;
          }
        }
        &--bottom {
          &:before {
            bottom: auto;
            top: 0;
          }
        }
      }
    }
  }
  &__gif{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    img{
      width: 100%;
      height: auto;
    }
  }
  &.loading--exit{
    .loader__gif{
      display: none;
    }
  }
  &.loaded {
    .loader__gif{
      display: none;
    }
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
