$columns: 8;
$rows: 10;

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, em($height));

  &__item {
    @for $i from 1 through 10 {
      &[data-column='#{$i}'] {
        grid-column-start: #{$i};
      }
      &[data-row='#{$i}'] {
        grid-row-start: #{$i};
      }
    }

    &--grey {
      background-color: c('grey-bar');
      z-index: -1;
      position: relative;
    }
    &--w2 {
      grid-column-end: span 2;
    }
    &--h2 {
      grid-row-end: span 2;
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
