.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease all;
  &__overlay {
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparentize(c("true-black"), 0.4);
  }
  &__body {
    position: relative;
    z-index: 2;
    background-color: c("true-black");
    @include aspect-ratio(16,9);
    max-width: 800px;
    @include xCenter;
    width: 80%;
    margin-top: 25vh;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &.is-visible {
    visibility: visible;
    opacity: 1;
    transition: 200ms ease all;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
