$columns: 8;
$rows: 3;

.our-mission {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    align-self: start;
    top: em(-5, 42);
  }
  &__text {
    display: none;
    p {
    }
    &--desktop {
      top: em(-65);
      display: block;
      grid-column: 3 / span 2;
      grid-row: 2 / span 2;
    }
    &--right {
      top: em(-5);
      grid-column: 6 / span 2;
      grid-row: 1 / span 3;
    }
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1;
  }
  .grey-2 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }
  .grey-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-4 {
    grid-row: 3 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-5 {
    display: none;
  }
}
