$columns: 8;
$rows: 13;

.our-mission {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-column: 2 / span 6;
    grid-row: 1 / span 1;
    align-self: end;
    position: relative;
    top: em(7, 24);
  }
  &__text {
    grid-column: 2 / span 6;
    grid-row: 3 / span 9;
    position: relative;
    top: em(-15);
    p {
      margin-bottom: em(20, 14);
    }
    &--desktop {
      display: none;
    }
  }

  .grey-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-2 {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2;
  }
  .grey-3 {
    grid-row: 7 / span 1;
    grid-column: 3 / span 1;
  }
  .grey-4 {
    grid-row: 11 / span 1;
    grid-column: 1 / span 2;
  }
  .grey-5 {
    grid-row: 11 / span 1;
    grid-column: 8 / span 1;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
