.grid-legal {
  grid-template-rows: auto;
  &__item {
    grid-column: 2 / span 6;
    h2 {
      color: c('#9b9b9b');
      @include font('sans', 'bold');
      margin-bottom: 35px;
    }
    p {
      margin-bottom: 30px;
      line-height: 1.66429em;
    }
    .header-point-tex {
      margin-left: 25px;
      list-style: none;
    }
    .point-text {
      list-style: none;
      margin-left: 25px;
      @include font('sans', 'bold');
      &:before {
        content: '•';
        font-size: 30px;
        color: c('orange');
        display: inline-block;
        width: 1em;
        position: relative;
        top: 5px;
      }
    }
  }
  a:hover{
    opacity: 0.6;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
