$height: em(1280/8);
.grid-footer {
	grid-template-rows: repeat(1, $height);
	&__item {
		grid-column-end: span 2;
		grid-row: 1 / span 1;
		align-self: start;
		padding-top: 15%;
	}
	&__legal {
		grid-column-start: 1;
		text-align: left;
		padding-left: 15.6%;
	}
	&__logos {
		grid-column-end: span 4;
		grid-column-end: span 4;
	    grid-column-start: 3;
	    padding-top: 8%;
		img{
			margin: 0 15px;
		}
	}
	&__social {
		grid-column-start: 7;
		grid-column-end: span 2;
		margin-top: 8px;
		text-align: right;
		padding-right: 15.6%;
	}
	&__firma {
		grid-column-start: 4;
		align-self: end;
		padding-bottom: 10px;
		p {
			display: inline-block;
		}
	}
}
