$columns: 8;
$rows: 9;
$height: em(375/8);
.grid-footer {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  overflow: hidden;
  &__item {
    grid-column: 2 / span 6;
    justify-content: center;
    text-align: center;
    p {
      @include font('sans', 'regular');
      font-size: em(12);
      line-height: em(20, 12);
      color: c('grey');
    }
    a {
      @include font('sans', 'bold');
      color: c('grey');
      display: inline-block;
      opacity: 1;
      transition: 200ms ease opacity;
    }
    a:hover {
      opacity: 0.6;
      transition: 200ms ease opacity;
    }
  }
  &__legal {
    grid-row: 1 / span 3;
    align-self: center;
  }
  &__logos {
    grid-row-end: span 1;
    align-self: start;
    img {
      height: 35px;
      width: auto;
      display: inline-block;
      margin: 0 25px 15px;
    }
    &--firstline {
      grid-row-start: 4;
    }
    &--secondline {
      grid-row-start: 5;
    }
  }
  &__social {
    grid-row: 6 / span 1;
    align-self: end;
    a {
      display: inline-block;
    }
    span {
      width: 21px;
      height: 21px;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0 6px;
      &.linkedin {
        background-image: url('../img/linkedin-icon.svg');
      }
      &.instagram {
        background-image: url('../img/instagram-icon.svg');
      }
    }
  }
  &__firma {
    grid-row: 7 / span 3;
    align-self: center;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
