$columns: 8;
$rows: 10;
.featured-grid-cover {
  position: relative;
  @include aspect-ratio($columns, $rows);
  margin-top: -7em;
}
.featured-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat($rows, 1fr);
  .grid__item--image {
    display: block;
    // background-color: purple;
    overflow: hidden;
    position: relative;
    picture {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      transition: none;

      img {
        width: 100%;
      }
    }
  }
  .image-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .image-2 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  .image-3 {
    grid-column: 1 / span 1;
    grid-row: 9 / span 1;
  }
  .image-4 {
    grid-column: 6 / span 1;
    grid-row: 9 / span 1;
  }
  .image-5 {
    // background-color: blue;
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
  }
  .image-6 {
    // background-color: blue;
    grid-column: 8 / span 1;
    grid-row: 3 / span 2;
  }
  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-2 {
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
  }
  .grey-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-4 {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
  }
  .grey-5 {
    grid-row: 4 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-6 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-7 {
    grid-row: 6 / span 1;
    grid-column: 4 / span 1;
  }
  .grey-8 {
    grid-row: 6 / span 1;
    grid-column: 5 / span 1;
  }
  .grey-9 {
    grid-row: 8 / span 1;
    grid-column: 2 / span 1;
  }
  .grey-10 {
    display: block;
    grid-row: 8 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-11 {
    display: block;
    grid-row: 10 / span 1;
    grid-column: 8 / span 1;
  }
}
.featured {
  &__image {
  }
  &__picture {
  }
  &__title {
    /*margin-bottom: em(20, 32);*/
    padding-bottom: 0;
    padding-top: em(10);
  }
  &__text {
    /*padding-bottom: em(1);*/
    max-width: em(280);
    &:before {
    }
  }
  &--about {
    display: block;
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    .featured__picture {
      top: 0;
      transition:none;
    }
  }
  &--work-life {
    display: block;
    grid-column: 6 / span 2;
    grid-row: 5 / span 3;
    .featured__picture {
      top: 0;
      transition:none;
    }
  }
  &--internships {
    display: block;
    grid-column: 3 / span 2;
    grid-row: 7 / span 3;
    .featured__picture {
      top: 0;
      transition:none;
    }
  }
}
