$columns: 8;
$rows: 28;
.featured-grid {
  grid-template-rows: repeat($rows, em($height));
  .grid__item--image {
    display: none;
  }
  .grey-1 {
    grid-row: 2 / span 1;
    grid-column: 8 / span 1;
  }
  .grey-2 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-3 {
    grid-row: 5 / span 2;
    grid-column: 7 / span 2;
  }
  .grey-4 {
    grid-row: 9 / span 1;
    grid-column: 3 / span 1;
  }
  .grey-5 {
    grid-row: 13 / span 2;
    grid-column: 1 / span 2;
  }
  .grey-6 {
    grid-row: 19 / span 2;
    grid-column: 7 / span 2;
  }
  .grey-7 {
    grid-row: 23 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-8 {
    grid-row: 26 / span 2;
    grid-column: 8 / span 1;
  }
  .grey-9 {
    grid-row: 27 / span 1;
    grid-column: 6 / span 1;
  }
  .grey-10 {
    display: none;
  }
  .grey-11 {
    display: none;
  }
}
.featured {
  height: 100%;
  &__image {
    position: relative;
    @include aspect-ratio(1, 1);
    overflow: hidden;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  &__zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.00000001);
    transition: 200ms ease transform;
  }
  &__picture {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition: 200ms ease transform;
    img {
      width: 100%;
    }
  }
  &__content {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    align-self: start;

  }
  &__title {
    padding: em(25, 24) 0;
    background: linear-gradient(to right, #3c3c3c 50%, c('black') 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 700;
    background-size: 200%;
    display: inline-block;
    background-position: 100%;
    transition: 200ms ease background;
    position: relative;
  }
  &__text {
    position: relative;
    &:before {
      content: attr(data-number);
      @extend .orange;
      position: absolute;
      font-size: em(11);

      top: em(5, 11);
      left: em(-30, 11);
      height: em(11, 11);

      border-right: em(5) solid c('orange');
      line-height: 1;
      padding-right: em(4, 11);
      transition: 200ms ease height;
    }
  }
  &--about {
    grid-column: 2 / span 4;
    grid-row: 1 / span 8;
    /*display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);*/
  }
  &--work-life {
    grid-column: 4 / span 4;
    grid-row: 10 / span 8;
  }
  &--internships {
    grid-column: 2 / span 4;
    grid-row: 20 / span 8;
  }
  &:hover {
    .featured__zoom {
      transform: scale(1.1);
      transition: 200ms ease transform;
    }
    .featured__picture {
      transform: translate3d(0, -50%, 0);
      transition: 200ms ease transform;
    }
    .featured__title {
      background-position: 0%;
      transition: 200ms ease background;
    }
    .featured__text:before {
      height: calc(100% - #{em(8, 11)});
      transition: 200ms ease height;
    }
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
