$height: em(1265/8);
.grid-find-your-job {
  grid-template-rows: repeat(3, $height);
  &__item {
    grid-row: 2 / span 1;
  }
  &__item-title {
    grid-column: 3 / span 2;
    justify-self: start;
    align-self: center;
    text-align: left;
    h2 {
      margin: 0;
    }
  }
  &__item-cta {
    grid-column: 5 / span 2;
  }
  .btn-roll-bottom {
    padding-top: 20%;
  }
}
.grid-find-your-job--about {
  grid-template-rows: repeat(2, $height);
  .grid__item--grey {
    display: none;
  }
  .grid-find-your-job__item-title {
    grid-row-start: 1;
  }
  .grid-find-your-job__item-cta {
    grid-row-start: 1;
  }
}
.grid-find-your-job--internships {
  grid-template-rows: repeat(2, $height);
  .grid-find-your-job__item-title {
    grid-row-start: 1;
  }
  .grid-find-your-job__item-cta {
    grid-row-start: 1;
  }
}
