$columns: 8;
$rows: 6;
$height: em(375/8);
.grid-find-your-job {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  &__item {
    grid-column: 2 / span 6;
    grid-column: 2 / span 6;
  }
  &__item-title {
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: start;
    text-align: center;
    h2 {
      margin: 0;
      margin-top: -0.25em;
      font-size: em(29);
    }
  }
  &__item-cta {
    grid-row: 4 / span 2;
  }
  .btn-roll-bottom {
    padding-top: 13%;
    &__label {
      font-size: em(15);
      &:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 9px;
        background-image: url('../img/flecha-naranja.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        opacity: 0;
        transition: margin-left .4s ease .3s, opacity .4s ease .3s;
      }
      &.complete-show{
        &:after{
          margin-left: 30px;
          opacity: 1;
        }
      }
    }
  }
}
.grid-find-your-job--about {
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
