$rows: 6;

.our-location {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    align-self: center;
    top: em(2, 42);
  }
  &__image {
    filter: grayscale(0%) brightness(100%) contrast(100%);
    transition: 200ms ease filter;
    &--spain {
      grid-row: 2 / span 2;
      grid-column: 1 / span 2;
    }
    &--france {
      grid-row: 3 / span 2;
      grid-column: 3 / span 2;
    }
    &--italy {
      grid-row: 2 / span 2;
      grid-column: 5 / span 2;
    }
    &--brazil {
      grid-row: 3 / span 2;
      grid-column: 7 / span 2;
    }
    &.is-gray {
      // filter: grayscale(100%) brightness(110%) contrast(110%);
      // transition: 200ms ease filter;
    }
  }
  &__box {
    padding-top: em(37.5);
    padding-left: em(60);
    padding-right: em(10);
    filter: grayscale(0%) brightness(100%) contrast(100%);
    transition: 200ms ease filter;
    &--spain {
      grid-row: 4 / span 1;
      grid-column: 1 / span 2;
    }
    &--france {
      grid-row: 2 / span 1;
      grid-column: 3 / span 2;
      align-self: end;
      padding-bottom: em(35);
    }
    &--italy {
      grid-row: 4 / span 1;
      grid-column: 5 / span 2;
    }
    &--brazil {
      grid-row: 2 / span 1;
      grid-column: 7 / span 2;
      align-self: end;
      padding-bottom: em(35);
    }
    &.is-gray {
      // filter: grayscale(100%) brightness(110%) contrast(110%);
      // transition: 200ms ease filter;
    }
  }
  &__picture {
    img {
    }
  }
  &__location {
    &:before {
    }
  }
  &__strong {
  }
  &__span {
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-2 {
    display: block;
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-3 {
    display: block;
    grid-row: 6 / span 1;
    grid-column: 6 / span 1;
  }
}
