$rows: 20;

.our-location {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 5;
    align-self: end;
    position: relative;
    top: em(10, 24);
  }
  &__image {
    position: relative;
    @include aspect-ratio(1, 1);
    overflow: hidden;
    object-fit: cover;
    &--spain {
      grid-row: 3 / span 4;
      grid-column: 1 / span 4;
    }
    &--france {
      grid-row: 6 / span 4;
      grid-column: 5 / span 4;
    }
    &--italy {
      grid-row: 11 / span 4;
      grid-column: 1 / span 4;
    }
    &--brazil {
      grid-row: 14 / span 4;
      grid-column: 5 / span 4;
    }
  }
  &__box {
    padding-left: (1/4) * 100%;
    padding-top: em(27.5);
    padding-right: em(20);
    &--spain {
      grid-row: 7 / span 3;
      grid-column: 1 / span 4;
    }
    &--france {
      grid-row: 3 / span 3;
      grid-column: 5 / span 4;
    }
    &--italy {
      grid-row: 11 / span 3;
      grid-column: 5 / span 4;
    }
    &--brazil {
      grid-row: 15 / span 3;
      grid-column: 1 / span 4;
    }
  }
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  &__location {
    position: relative;
    margin-bottom: em(5, 14);
    &:before {
      content: '';
      position: absolute;
      width: em(10, 14);
      height: em(14, 14);
      background-size: em(10, 14);
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../img/about/location-icon.svg);
      left: em(-20, 14);
      top: em(1, 14);
    }
  }
  &__strong {
    @include font('sans', 'bold');
    color: c('grey');
    font-size: em(14);
  }
  &__span {
    @include font('sans');
    color: c('grey');
    font-size: em(14);
    hyphens: auto;
    margin-bottom: em(5, 14);
  }

  .grey-1 {
    grid-row: 2 / span 1;
    grid-column: 8 / span 1;
  }
  .grey-2 {
    display: none;
  }
  .grey-3 {
    display: none;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
