.video-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    width: em(30);
    height: em(30);
    position: relative;
    z-index: 2;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      @include fullCenter;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 50%;
      box-shadow: 0 0 0 0 transparent;
      transition: 200ms ease box-shadow;
    }
  }
  &__image {
    width: 100%;
  }
  &__text {
    text-transform: uppercase;
    font-size: em(12);
    margin-left: em(10, 12);
    position: relative;
    top: em(1, 12);
  }
  &:hover {
    .video-button__icon:before {
      box-shadow: 0 0 0 em(6) transparentize(c('orange'), 0.6);
      transition: 200ms ease box-shadow;
    }
  }
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
