.timeline {
  &__left {
    width: 33.333%;
  }
  &__right {
    width: 66.666%;
  }
  &__date {
    font-size: em(47);
    top: em(125, 47);
    &:before {
      width: em(12, 47);
      height: em(12, 47);
      top: em(60, 47);
    }

    &:after {
      height: em(1, 47);
      top: em(65, 47);
    }
  }
  &__image {
    margin-bottom: em(35);
  }
  &__picture {
  }
  &__title {
    &:before {
    }
  }
  &__text {
    max-width: em(260);
    p {
    }
  }
  &:first-child {
    .timeline__date:after {
    }
  }
}
