.timeline {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__left {
    width: 20%;
  }
  &__right {
    width: 80%;
  }
  &__date {
    @include font('sans', 'bold');
    color: c('grey-light');
    font-size: em(15);
    text-align: center;
    position: relative;
    top: em(70, 15);

    &:before {
      position: absolute;
      content: '';
      width: em(12);
      height: em(12);
      border-radius: 50%;
      background-color: c('grey-light');
      @include xCenter;
      top: em(20);
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: em(1);
      right: 0;
      background-color: c('grey-light');
      top: em(25);
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    @include aspect-ratio(1, 1);
    margin-bottom: em(25);
    filter: grayscale(100%) brightness(110%) contrast(110%);
    transition: 200ms ease filter;
  }
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  &__title {
    position: relative;
    margin-bottom: em(5);
    &:before {
      content: '';
      position: absolute;
      left: em(-20, 14);
      width: em(10, 14);
      height: em(10, 14);
      top: em(3, 14);
      background-color: c('orange');
      border-radius: 50%;
    }
  }
  &__text {
    p {
    }
  }
  &:first-child {
    .timeline__date:after {
      width: 50%;
    }
  }
}
.swiper-slide-active .timeline__image,
.swiper-slide .timeline__image:hover {
  filter: grayscale(0%) brightness(100%) contrast(100%);
  transition: 200ms ease filter;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
