$rows: 3;

.why-affinity {
  grid-template-rows: repeat($rows, em($heightDesktop));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 4 / span 3;
    align-self: start;
    top: em(-5, 42);
  }
  &__text {
    grid-row: 2 / span 2;
    grid-column: 4 / span 3;
    top: em(-65);
    p {
    }
  }
  &__image {
    position: absolute;
    float: none;
    width: 2/3 * 100%;
    left: 2/3 * -100%;
    top: em(-80);
  }

  .grey-1 {
    grid-row: 1 / span 1;
    grid-column: 7 / span 1;
  }
  .grey-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}
