$rows: 10;

.why-affinity {
  grid-template-rows: repeat($rows, em($height));
  &__title {
    grid-row: 1 / span 1;
    grid-column: 2 / span 5;
    align-self: end;
    position: relative;
    top: em(7, 24);
  }
  &__text {
    grid-row: 3 / span 7;
    grid-column: 2 / span 6;
    position: relative;
    top: em(-15);
    p {
      float: left;
      margin-bottom: em(20, 14);
    }
  }
  &__image {
    float: left;
    width: (3/6) * 100%;
    position: relative;
    margin-top: em(-25);
    top: em(5);
    left: em(-5);
  }

  .grey-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  .grey-2 {
    grid-row: 3 / span 2;
    grid-column: 7 / span 2;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
