$height: em(1280/8);
.grid-opportunities {
	grid-template-rows: repeat(5, $height);
	&__image-description {
		grid-column: 2 / span 2;
		grid-row: 2 / span 2;
	}
	&__title-description {
		grid-column: 5 / span 2;
		grid-row: 2 / span 2;
		align-self: end;
		padding-bottom: 15%;
	}
	&__text-description {
		grid-column: 5 / span 2;
		grid-row: 4 / span 1;
		align-self: start;
	}
	&__item {
		&--grey {
			&:first-child {
				grid-column-start: 7;
				grid-row-start: 1;
			}
			&:nth-child(2) {
				grid-column-start: 1;
				grid-row-start: 3;
			}
			&:nth-child(3) {
				grid-column: 8 / span 1;
				grid-row: 3 / span 1;
			}
			&:nth-child(4) {
				grid-column-start: 3;
				grid-row-start: 4;
			}
		}
	}
}
