$columns: 8;
$rows: 12;
$height: em(375/8);
.grid-opportunities {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  &__item {
    grid-column: 2 / span 6;
    text-align: left;
  }
  &__image-description {
    grid-row: 1 / span 4;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title-description {
    grid-row: 5 / span 3;
    align-self: center;
    h2 {
      margin: 0;
    }
  }
  &__text-description {
    grid-row: 8 / span 5;
    align-self: start;
    p {
      margin-bottom: 25px;
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
