* {
}

.paragraph {
}
.link {
}
span {
}

strong {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.main-title {
  font-size: em(76);
  line-height: em(85, 78);
}
.main-subtitle {
  font-size: em(20);
  letter-spacing: em(0.2, 20);
  margin-top: em(10, 20);
}
.title {
  font-size: em(32);
  line-height: em(46, 32);
}
.orange {
}
.text {
  p {
  }
  ul {
  }
  ol {
  }
  li {
  }
}
.text-center {
}

.text-left {
}

.text-right {
}
.pre-main-title {
  font-size: em(15);
  letter-spacing: 1.8px;
}
