* {
}

.paragraph {
}
.link {
}
span {
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.pre-main-title {
  @include font('sans', 'regular');
  font-size: em(12);
  color: c('grey');
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-title {
  @include font('serif', 'bold');
  font-size: em(35);
  line-height: em(40, 36);
  color: c('black');
}
.main-subtitle {
  @include font('sans', 'bold');
  font-size: em(14);
  line-height: 1.4;
  color: c('grey');
  letter-spacing: em(0.2, 14);
  margin-top: em(10, 14);
}
.title {
  @include font('serif', 'bold');
  font-size: em(24);
  line-height: em(30, 24);
  color: c('black');
  &--case {
    font-size: em(18);
  }
}
.orange {
  @include font('sans', 'bold');
  font-size: em(14);
  color: c('orange');
}
.text {
  p,
  li,
  a {
    @include font('sans');
    font-size: em(14);
    line-height: em(20.5, 14);
    color: c('grey');
  }
  ul {
  }
  ol {
  }
  li {
  }
  &--case {
    p {
      @include font('serif');
      font-size: em(15);
      line-height: em(23, 15);
      font-style: italic;
    }
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
