.cookies {
  padding: em(50) em($heightDesktop) em(45);
  &__box {
    display: flex;
    align-items: flex-start;
  }
  &__text {
    padding-right: em(20, 14);
    line-height: 1.4;
    letter-spacing: em(-0.1);
  }
  &__link {}
  &__button {
    margin: 0;
    padding: em(12, 14) em(60, 14) em(10, 14);
  }
  &.is-visible {}
}
