.cookies {
  // em($height)
  background-color: c('black');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: em(20) $height;
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease all;
  &__box {}
  &__text {
    @include font('sans');
    color: c('grey');
    line-height: 1.3;
    font-size: em(14);
  }
  &__link {
    color: c('grey');
    font-weight: bold;
    opacity: 1;
    transition: 200ms ease all;
    &:hover {
      opacity: 0.6;
      transition: 200ms ease all;
    }
  }
  &__button {
    @include font('sans', 'bold');
    color: c('black');
    font-size: em(14);
    margin-top: em(10, 14);
    background-color: c('grey');
    padding: em(5, 14) em(30, 14);
    cursor: pointer;
    appearance: none;
    border-radius: 0;
    border: none;
    opacity: 1;
    transition: 200ms ease all;
    &:hover {
      opacity: 0.6;
      transition: 200ms ease all;
    }
  }
  &.is-visible {
    visibility: visible;
    opacity: 1;
    transition: 200ms ease all;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
