$height: em(1265/8);
$columns: 2;
$rows: 7;
.grid-opportunities-wrapper {
  padding: 0 ((1/8) * 100%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.grid-opportunities-cases {
  width: 33.333%;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  &__case {
    grid-column: 1 / span 2;
  }
  &__image {
    grid-row: 1 / span 3;
  }
  &__title {
    grid-row: 4 / span 1;
    align-self: center;
    h3 {
      font-size: em(16);
      margin-top: -1em;
    }
  }
  &__subtitle {
    grid-row: 4 / span 1;
    align-self: center;
    padding-right: 21%;
    p {
      padding-top: 2.5em;
    }
  }
  &__text {
    grid-row: 5 / span 2;
    margin-top: -1.5em;
    overflow: visible;
    padding-right: 21%;
    padding-top: .8em;
    p {
      &:before {
        display: inline-block;
      }
    }
  }
  &__overlay,
  &__arrow-down {
    display: none;
  }
  &.is-desktop {
    display: grid;
    grid-template-rows: repeat(6, $height);
  }
  &:last-child{
    .grid-opportunities-cases__subtitle {
      p{
        padding-top: 4em;
      }
    }
  }
  &:nth-child(2){
    .grid-opportunities-cases__subtitle {
      p{
        padding-top: 3em;
      }
    }
  }
}
