$columns: 8;
$rows: 10;
$rows-extended: 15;
$height: em(375/8);
.grid-opportunities-cases {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, $height);
  &__case {
    grid-column: 2 / span 6;
    text-align: left;
  }
  &__image {
    grid-row: 2 / span 4;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    grid-row: 6 / span 1;
    align-self: end;
    h3 {
      margin: 0;
    }
  }
  &__subtitle {
    grid-row: 7 / span 1;
    align-self: start;
    padding-top: 5px;
  }
  &__text {
    grid-row: 8 / span 2;
    overflow: hidden;
    transition: 400ms ease;
    p {
      position: relative;
      &:before {
        content: '“';
        display: inline-block;
        font-size: 74px;
        @include font('serif');
        color: c('orange');
        font-style: italic;
        position: absolute;
        left: -48px;
        top: 21px;
        display: none;
      }
    }
  }
  &__overlay {
    grid-row: 8 / span 2;
    background-image: linear-gradient(rgba(255,255,255, 0), c('white'));
    z-index: 1;
    transition: opacity 100ms ease;
  }
  &__arrow-down {
    grid-row: 10 / span 1;
    background-image: url('../img/flecha-naranja.svg');
    background-size: 16px 9px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    cursor: pointer;
    transition: 200ms ease;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &--extended {
    grid-template-rows: repeat($rows-extended, $height);
    .grid-opportunities-cases__text {
      grid-row-end: span 6;
      overflow: visible;
    }
    .grid-opportunities-cases__overlay {
      opacity: 0;
    }
    .grid-opportunities-cases__arrow-down {
      grid-row-start: 14;
      transform: rotate(180deg);
      background-position: 50% 100%;
    }
    &:nth-child(2){
      .grid-opportunities-cases__arrow-down{
            grid-row-start: 15;
      }
    }
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
