.btn-roll-bottom {
  position: relative;
  text-align: center;
  cursor: pointer;
  display: block;
  &__label {
    width: 100%;
    height: 100%;
    transition: color 300ms ease;
  }
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: c('orange');
    transition: height 300ms ease, width 300ms ease .3s;
  }
  &:hover:before {
    height: 100%;
    z-index: -1;
  }
  &:hover .btn-roll-bottom__label {
    color: #fff;
  }
  &:hover .btn-roll-bottom__label:after {
    background-image: url('../img/flecha-white.svg');
  }
  &.complete-show{
    &:before{
      width: 100%;
    }
  }
}

.play-btn {
  position: relative;
  img {
    width: 100%;
    height: auto;
    background-color: c('white');
    border-radius: 25px;
  }
  &--roll-circle {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: c('orange');
      opacity: 0.3;
      transform-origin: center;
      border-radius: 25px;
      z-index: -1;
      transition: transform 300ms ease;
    }
  }
}
.link-play-btn:hover .play-btn--roll-circle:before {
  transform: scale(1.5);
}
